In [2]:
import pandas as pd

In [3]:
df = pd.read_json("code-list_json.json", lines=False).head(5)

In [4]:
dct = pd.read_json("code-list_json.json", lines=False)['Function'].head(5).to_dict()

In [6]:
collections = []
for key, value in dct.items():
    collections.append(list(value))
    
df2 = pd.DataFrame(data=collections, columns=[1,2,3,4,5,6,7,8])

In [8]:
collections

[['-', '-', '3', '4', '-', '6', '-', '-'],
 ['-', '-', '3', '-', '-', '-', '-', '-'],
 ['-', '-', '3', '-', '-', '-', '-', '-'],
 ['-', '-', '3', '-', '-', '-', '-', '-'],
 ['-', '-', '3', '-', '-', '-', '-', '-']]

In [16]:
# convert into dataframe
df2 = pd.DataFrame(data=collections, columns=[1,2,3,4,5,6,7,8])

In [17]:
df2

   1  2  3  4  5  6  7  8
0  -  -  3  4  -  6  -  -
1  -  -  3  -  -  -  -  -
2  -  -  3  -  -  -  -  -
3  -  -  3  -  -  -  -  -
4  -  -  3  -  -  -  -  -

In [13]:
print("Merge two dataframe")
result = pd.concat([df, df2], axis=1)
print(result)

Merge two dataframe
  Change   Coordinates Country                Date  Function  IATA Location  \
0   None  4230N 00131E      AD 1970-01-01 00:10:01  --34-6--  None      ALV
1   None  4234N 00135E      AD 1970-01-01 00:05:07  --3-----  None      CAN
2   None  4232N 00134E      AD 1970-01-01 00:05:07  --3-----  None      ENC
3   None  4231N 00133E      AD 1970-01-01 00:05:07  --3-----  None      ESC
4   None  4233N 00131E      AD 1970-01-01 00:23:27  --3-----  None      EAC

                 Name    NameWoDiacritics Remarks Status Subdivision  1  2  3  \
0    Andorra la Vella    Andorra la Vella    None     AI        None  -  -  3
1             Canillo             Canillo    None     RL        None  -  -  3
2              Encamp              Encamp    None     RL        None  -  -  3
3  Escaldes-Engordany  Escaldes-Engordany    None     RL        None  -  -  3
4               Esc√†s               Escas    None     RL          04  -  -  3

   4  5  6  7  8
0  4  -  6  -  -
1  -  -  -  -  -
2  -  -  -  -  -
3  -  -  -  -  -
4  -  -  -  -  -